:root {
    --width: 50;
}

* {
    box-sizing: border-box;
    user-select: none;
}

body {
    margin: 0;
    overflow: auto;
}

img {
    height: 100%;
}

.head {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: end;
    gap: 1vw;
    padding: 0 50px;
    align-items: center;
    background-color: #a0a0a0;
}

.title-container {
    font-size: 48px;
    font-weight: 200;
    position: absolute;
    left: 50%;
}

.title-container > div {
    margin-left: -50%;
}

.question {
    height: 5vh;
}

.question:hover {
    filter: brightness(0.5);
}

.container {
    background-color: #dadada;
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

.row {
    display: flex;
}

.grid {
    flex-basis: calc(var(--width) * 1px);
    width: calc(var(--width) * 1px);
    aspect-ratio: 1;
    /* border: 1px solid black; */
    font-size: calc(var(--width) * 0.64 * 1px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.element {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: #dadada;
}

.v {
    width: 10%;
    height: 100%;
    background-color: black;
}

.h {
    width: 100%;
    height: 10%;
    background-color: black;
}

.multi.clickable > div {
    background-color: blue;
}

.v.clickable:hover, .h.clickable:hover, .multi.clickable:hover > .h, .multi.clickable:hover > .v {
    background-color: lightblue;
}

.deletable {
    border: 5px solid red;
}

.deletable:hover {
    border: 2px solid rgb(138, 5, 5);
}

.start-up {
    justify-content: start;
}

.start-left {
    align-items: start;
}

.action-bar {
    width: 150px;
    position: absolute;
    right: 0;
    top: 13vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    pointer-events: none;
    z-index: 2;
}

.action-bar > *, .element-selection, .line-selection {
    width: 60px;
    aspect-ratio: 1;
    background-color: #dadada;
    border: inset 2px white;
    box-shadow: 0 0 10px #616161;
    border-radius: 50%;
    font-size: 16px;
    pointer-events: all;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-bar > *:hover, .element-selection:hover, .line-selection:hover, .plus:hover, .minus:hover {
    filter: brightness(0.8);
}

div.selected {
    background-color: yellow;
}

.element-menu, .line-menu {
    background-color: rgb(237 237 237);
    width: 20vw;
    min-height: 60px;
    position: absolute;
    top: calc(115px + 8vh);
    right: 120px;
    padding: 10px;
    border-radius: 15px;
    display: none;
    gap: 1vw;
    flex-wrap: wrap;
    z-index: 2;
}

.line-menu {
    top: calc(185px + 8vh);
    width: 14vw;
}

.show {
    display: flex;
}

.element-selection, .line-selection {    
    width: 50px;
    box-shadow: 0 0 10px #a6a6a6;
}

.line-button {
    padding: 5%;
}

.line-selection {
    padding: 2%;
}

.multi {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.multi > .v {
    width: 8%;
    height: 105%;
}

.multi > .h {
    height: 8%;
    width: 105%;
}

.name-container {
    width: 100%;
    height: 10vh;
    background-color: #b0b0b0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    gap: 5vw;
}

.copy, .empty {
    aspect-ratio: 1;
    height: 60%;
    border-radius: 0.8em;
    border-width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy:hover {
    filter: brightness(0.9);
}

.copy.green {
    background-color: greenyellow;
}

.copy > img {
    height: 70%;
    user-select: none;
}

.slot {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.tutorial {
    position: absolute;
    width: 50vw;
    height: 60vh;
    left: 25vw;
    top: 20vh;
    border-radius: 20px;
    padding: 2vw 5vw;
    background-color: rgb(241, 241, 241);
    z-index: 5;
    font-size: 20px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.tutorial {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.tutorial::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.darken {
    filter: opacity(0);
    background-color: rgb(20, 20, 20, 0.5);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 4;
    transition: all 0.5s;
    pointer-events: none;
}

.darken.show {
    filter: opacity(1);
    pointer-events: all;
}

.zoom-menu {
    position: absolute;
    left: 10px;
    top: 12vh;
    display: flex;
    gap: 1px;
}

.minus, .plus {
    width:60px;
    aspect-ratio: 3 / 2;
    background-color: #5b5b5b;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dadada;
    border: inset 2px white;
    box-shadow: 0 0 10px #616161;
    font-weight: 900;
    font-size: 36px;
}

.minus {
    border-radius: 10px 0 0 10px;
}

.plus {
    border-radius: 0 10px 10px 0;
}

.greyed {
    color: gray;
}

.greyed:hover {
    filter: brightness(1);
}