:root {
    --width: 50;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.head {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-weight: 600;
}

.container {
    background-color: #dadada;
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

.row {
    display: flex;
}

.grid {
    flex-basis: calc(var(--width) * 1px);
    width: calc(var(--width) * 1px);
    aspect-ratio: 1;
    /* border: 1px solid black; */
    font-size: 32px;
}

.element {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.v {
    width: 10%;
    height: 100%;
    margin: 0 45%;
    background-color: black;
}

.h {
    width: 100%;
    height: 10%;
    margin: 45% 0;
    background-color: black;
}

.clickable {
    background-color: blue;
}

.clickable:hover {
    background-color: lightblue;
}

.deletable {
    border: 5px solid red;
}

.deletable:hover {
    border: 2px solid rgb(138, 5, 5);
}

.start-up {
    justify-content: start;
}

.start-left {
    align-items: start;
}

.action-bar {
    width: 10vw;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    pointer-events: none;
    z-index: 2;
}

.action-bar > *, .element-selection, .line-selection {
    width: 60px;
    aspect-ratio: 1;
    background-color: #dadada;
    border: inset 2px white;
    box-shadow: 0 0 10px #616161;
    border-radius: 50%;
    font-size: 16px;
    pointer-events: all;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-bar > *:hover, .element-selection:hover, .line-selection:hover {
    filter: brightness(0.8);
}

div.selected {
    background-color: yellow;
}

.element-menu, .line-menu {
    background-color: rgb(255, 255, 255, 50%);
    width: 20vw;
    min-height: 60px;
    position: absolute;
    top: 115px;
    right: 8vw;
    padding: 10px;
    border-radius: 15px;
    display: none;
    gap: 1vw;
    flex-wrap: wrap;
}

.line-menu {
    top: 185px;
    width: 14vw;
}

.show {
    display: flex;
}

.element-selection, .line-selection {    
    width: 50px;
    box-shadow: 0 0 10px #a6a6a6;
}

.line-button {
    padding: 5%;
}

.line-selection {
    padding: 2%;
}

.multi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.name {
    width: 100%;
    height: 10vh;
    background-color: #b0b0b0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
}